/* Main app container */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #0f2841;
    font-family: 'Arial', sans-serif;
}

/* Navigation bar and title area */
.page-title {
    background-color: #f9f9f9;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}

.page-title h1 {
    font-size: 2rem;
    color: #333;
    margin: 0;
}

/* Content area */
.content-container {
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* General styles for all pages */
.page {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

footer{
    min-height: 10vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-logos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-StrongFont);
    font-size: 2rem;
    right: 5vw;
    bottom: 5vw;
    cursor: pointer;
}

.linked-logo{
    width: 2vw;
}

.ending-credits{
    min-height: 10vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}